@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
}

body {
  background-color: #111;
  color: #FFF;
}

.lists {
  margin-top: -100px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}